
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Batch Failed</h2>
                <div class="error-details">
                   Désolé, pour des raisons techniques le batch n'a pas pu être chargé !.  
                   Nous faisons lé nécéssaire afin que vous puissiez accéder au site dans les plus brefs délais
                </div>
            </div>
        </div>
    </div>
</div>

